@page "/result"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Alicante.Client.BaseComponents
@rendermode @(new InteractiveAutoRenderMode(false))

<h3>Resultat liste</h3>

@if (results == null)
{
    <p>Henter ...</p>
}
else
{
    <RadzenRow AlignItems="AlignItems.Center">
        <RadzenColumn Size="12" SizeMD="4">
            <RadzenLabel Text="Match" Component="MatchId" />
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="8">
            <RadzenDropDown @bind-Value="MatchId" AllowClear="true" Placeholder="Vælg match"
                            Data="@Matches" Style="width: 100%;" 
                            TextProperty="MatchText" ValueProperty="MatchId" Name="MatchId">
            </RadzenDropDown>
        </RadzenColumn>
    </RadzenRow>

    <a class="btn btn-primary" href="/result/upsert/matchId">Ny score</a>
    <table class="table">
        <thead>
            <tr>
                <th>Navn</th>
                <th>Hcp</th>
                <th>Score</th>
                <th>Birdies</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in results)
            {
                <tr>
                    <td>@p.PlayerName</td>
                    <td>@p.Hcp</td>
                    <td>@p.Score</td>
                    <td>@p.Birdies</td>
                    <td>
                        <a class="btn btn-secondary" href="/result/upsert/@p.MatchId">Rediger</a>
                        <AuthorizeView Roles="Admin">
                            <Authorized>
                                <button class="btn btn-danger" @onclick="()=> { DeleteID = p.MatchId; Modal.Open();}">Slet</button>
                            </Authorized>
                        </AuthorizeView>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <AppModal @ref="Modal">
        <Title>Obs</Title>
        <Body>
            Vil du slette resultatet?
        </Body>
        <Footer>
            <button type="button" class="btn btn-primary" style="width:80px" @onclick="HandleDelete">Yes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Modal.Close()">Cancel</button>
        </Footer>
    </AppModal> 
}