@page "/tournament"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Alicante.Client.BaseComponents
@using Newtonsoft.Json
@rendermode @(new InteractiveWebAssemblyRenderMode(false))

<h3>Turneringer</h3>
 
@if (tournaments == null)
{
    <p>Henter ...</p>
}
else
{
    <RadzenDataGrid @ref="tournamentGrid" AllowAlternatingRows="false" EditMode="DataGridEditMode.Single"
                Data="@tournaments" TItem="TournamentModel" RowUpdate="@OnUpdateRow" RowCreate="@OnCreateRow" Sort="@Reset" Page="@Reset" Filter="@Reset">
        <HeaderTemplate>
            <RadzenCard Variant="Variant.Flat" class="d-flex justify-content-end w-100">
                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H3">Aktuel turnering</RadzenText>
                <RadzenDropDown Style="width: 100%; max-width: 300px;" TValue="int" @bind-Value="activeId" Placeholder="Vælg match" AllowFiltering="true"
                                Data="@(tournaments)" TextProperty="@nameof(TournamentModel.TournamentName)" ValueProperty="@nameof(TournamentModel.TournamentId)"
                                InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "Vælg match" }})"
                                Change="() => ChangeActive()" />
            </RadzenCard>

            <div >
                <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle" Text="Ny turnering"
                              Click="@InsertRow" Disabled="@Editing" />
            </div>
        </HeaderTemplate>
        <Columns>
            <RadzenDataGridColumn Property="@nameof(TournamentModel.TournamentName)" Title="Turnering">
                <EditTemplate Context="tournament">
                    <RadzenTextBox @bind-Value="tournament.TournamentName" Style="width:200px; display: block" Name="ShipName" aria-label="Angiv et navn" />
                    <RadzenRequiredValidator Text="Navn skal angives" Component="TournamentName" Popup="true" />
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Context="tournament" Width="160px" TextAlign="TextAlign.Right" Frozen="true" FrozenPosition="FrozenColumnPosition.Right">
                <Template Context="tournament">
                    <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => EditRow(tournament))" @onclick:stopPropagation="true">
                    </RadzenButton>
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="rz-my-1 rz-ms-1" Click="@(args => DeleteRow(tournament))" @onclick:stopPropagation="true">
                    </RadzenButton>
                </Template>
                <EditTemplate Context="tournament">
                    <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@((args) => SaveRow(tournament))" aria-label="Save">
                    </RadzenButton>
                    <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" class="rz-my-1 rz-ms-1" Click="@((args) => CancelEdit(tournament))" aria-label="Cancel">
                    </RadzenButton>
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="rz-my-1 rz-ms-1" Click="@(args => DeleteRow(tournament))" aria-label="Delete">
                    </RadzenButton>
                </EditTemplate>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}

@code {
    RadzenDataGrid<TournamentModel> tournamentGrid;
    private DeleteConfirmationDialog deleteDialog;

    [Inject] public HttpClient http { get; set; }
    [Inject] private IToastService ToastService { get; set; }
    [Inject] private DialogService DialogService { get; set; } = default!;

    public List<TournamentModel> tournaments { get; set; } = default!;
    public int activeId { get; set; }
    public int deleteId { get; set; }
    public bool Editing { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await LoadData();
        activeId = tournaments.Where(x => x.Active == true).Select(x => x.TournamentId).SingleOrDefault();
        StateHasChanged();
    }

    #region Grid events

    async Task OnUpdateRow(TournamentModel tournament)
    {
        await SaveRow(tournament);
    }
    async void OnCreateRow(TournamentModel tournament)
    {
        //await UpdateRow(tournament);
        throw new NotImplementedException("OnCreateRow called");
    }

    async Task EditRow(TournamentModel tournament)
    {
        await tournamentGrid.EditRow(tournament);
        Editing = true;
    }
    async Task SaveRow(TournamentModel model)
    {
        var res = await http.PostAsJsonAsync($"/api/tournament/", model);
        if (res!.IsSuccessStatusCode)
        {
            ToastService.ShowSuccess("Tournamenten er opdateret");
            await LoadData();
        }
        else
        {
            tournamentGrid.CancelEditRow(model);
        }
        await tournamentGrid.Reload();
        Editing = false;
    }
    async Task DeleteRow(TournamentModel model)
    {
        // Trigger the dialog to show
        deleteId = model.TournamentId;
        deleteDialog.Show(model.TournamentName);
    }

    private async Task HandleDeleteConfirmation()
    {
        var res = await http.DeleteFromJsonAsync<BaseResponseModel>($"/api/tournament/{deleteId}");
        if (res!.Success)
        {
            ToastService.ShowSuccess("Turnering er slettet");
        }
        //else
        //{
        //    tournamentGrid.CancelEditRow(model);
        //}
        await tournamentGrid.Reload();
    }

    async Task InsertRow()
    {
        var tournament = new TournamentModel();
        await tournamentGrid.InsertRow(tournament);
        Editing = true;
    }
    void CancelEdit(TournamentModel tournament)
    {
        tournamentGrid.CancelEditRow(tournament);
        Editing = false;
    }
    #endregion

    async Task ChangeActive()
    {
        var res = await http.PostAsJsonAsync("/api/Tournament/active", activeId);
        if (res!.IsSuccessStatusCode)
        {
            ToastService.ShowSuccess("Det er nu den aktive turnering");
        }
    }
    void Reset()
    {
        Editing = false;
    }

    protected async Task LoadData()
    {
        var res = await http.GetFromJsonAsync<BaseResponseModel>("/api/Tournament");
        if (res != null && res.Success)
        {
            tournaments = JsonConvert.DeserializeObject<List<TournamentModel>>(res.Data.ToString());
        }
    }
}

